span.done-true{
	
	font-style: italic;

}



.done1-true{
  
  background: #00FFFF;

}

.done1-false{
  
  background: #98FB98;

}

.inputSpan{
  
  background: #FFF8DC;

}


.add-input {

  width: 98%;
  height: 30px;
  border: none;
  
  font-size: 1.7em;
  text-indent: 45px;
  text-align: center;
  background: #FFF8DC;
}


span.inp-false{
	visibility: hidden;
}



.padding2 {
      
    padding-left: 380px;
}

.btnAlign{
  left:auto;
}



