<!DOCTYPE html>

<html lang="en">

   <head>

      <meta charset="UTF-8">
      <!--Bootstrap Libraries -->
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

      <!--Angular libraies-->
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>

      <!--My custom libraries -->
      <script type="text/javascript" src="controllers/script1.js"></script>
      <link rel="stylesheet" href="css/span.css">

   </head>

   <!-- <h3><center>My ToDo List</center></h3> -->


   <body ng-app="mainApp" ng-controller="app">

      <br>

      <div class="container" id="tasksToShow">

         <div class="row">

            <div class="col-md-2">
            </div>

            <div class="col-md-8">
               <div>
               <header class="app-header">
                  <h1 class="app-title">My Awesome ToDo App</h1>
                  <h1 class="app-headline">Here You Go...</h1>
               </header>
               </div>
               <br><br>

               <div class="btn-group open btn-sm">
                  <a href="#" class="btn btn-default btn-sm" ng-click="todotasks()">To Do Tasks</a>
                  <a href="#" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
                  <ul class="dropdown-menu">
                     <li ng-click="todotasks()"><a href="#">To Do Tasks</a></li>
                     <li ng-click="donetasks()"><a href="#">Done Tasks </a></li>
                  </ul>
               </div>

               <form>

                  <ul class="list-group">
	                     <li class="list-group-item inputSpan">
	                        <span > <input class="add-input" placeholder="I need to do..." type="text" ng-model="task" ng-click="todotasks()"> </span>
	                     </li>

		        	  

		               <span ng-repeat="onetask in temp | orderBy:'todoTasks.indexOf(onetask)':true track by $index">

			               <li class="list-group-item done1-{{onetask.status}} nav nav-pills" >

			               <span class="inp-{{onetask.input}} "><input type="checkbox" ng-model="onetask.status" class=""></span>

			               <span ng-model="onetask.taskMessage" class="done-{{onetask.status}}">
			               		{{onetask.taskMessage}}
			               	</span>

			               <span><input type="button" value="Delete" class="btn btn-default btn-sm pull-right" ng-click="finishedTasks(onetask)"></span>

			               </li>

		               </span>

		               </form>

		               <br> <br>
		              
		               <div>

			               <span><input type="submit" class="btn btn-default btn-sm pull-right button" value="Enter Your Tasks" ng-click="addTasks()"></span>
			               <span><input type="submit" class="btn btn-default btn-sm pull-right" value="Tasks Completed" ng-click="CompletedTasks()" ></span>

		               </div>

               </ul>

            </div>
            <div class="col-md-2">

            </div>
         </div>
      </div>
   </body>
</html>